body {
    background-image: url("../images/background.png");
    font-family: 'Dosis', sans-serif;
}

.rule {
    height: 2px;
    border: none;
    background-color: #333333a1;
}

.bottom-rule {
    height: 2px;
    border; none;
    background-color: #333333a1;
    margin-top: 80px;
    margin-bottom: 60px;
}

.round-img {
    border-radius: 50%
}

.title-super {
    font-size: 80px;
    font-weight: 400;
}

.subtitle {
    font-size: 40px;
    font-weight: 300;
}

.title-logo {
    margin-top: 20px
}


.icon img {
    display: block;
    max-width: 100%;
    height: auto;
    color: black;
    }

.caption {
    color: #333333;
    font-size: 30px;
    font-weight: 800;
}

.home-logo {
    color: #333333;
    font-size: 25px;
    font-weight: 300;
    position: absolute;
    left: 62px;
    bottom: 5px;
}

h2 {
    font-size: 50px;
    font-weight: 400;
    line-height: 120px;
}

h3 {
    font-size: 35px;
    font-weight: 300;
    line-height: 170px;
}

p {
    font-size: 25px;
    font-weight: 200;
    margin-top: 30px;
    margin-bottom: 30px;
}

.border {
    border: solid #333333;
    padding: 20px;
    margin-top: 40px;
}

.example {
    font-size: 23px;
    font-weight: 1000;
    margin-top: 10px;
    width: 400px;
    margin-left: 77px;
}

.code-font {
    color: #333333;
    background-color: #b3acac69;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 70%;
    font-weight: 300;
}

#space-image {
    margin-bottom: 70px;
}

.code-screenshot {
    border: solid #333333;
    padding: 5px;
    margin: 40px;
}

ul {
    font-size: 25px;
    margin: 30px;
    font-weight: 200;
    list-style-position: inside;
    text-indent: 20%
    ;
}

#fixed-cat {
    position: fixed;
    bottom: 20px;
    right: 35px;
}

#fixed-logo {
    color: #333333;
    font-size: 17px;
    font-weight: 800;
    position: absolute;
    left: 32px;
    top: 94px;
}

.move-up {
    border: solid #333333;
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 60px;
}

#about-me {
    margin-bottom: 30px;
    margin-bottom: 50px;
}

.back-to-top {
    font-size: 20px;
    font-weight: 300;
    margin-top: 70px;
    color: #333333a1
}

a {
    color: #333333
}

.page-button {
    font-size: 22px;
    font-weight: 300;
    color: #333333a1
}

.next-question {
    margin-top: 80px;
}